<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="http://localhost/college_club/static/contact.css">
    <link rel="stylesheet" href="http://localhost/college_club/static/navbar.css">
</head>
<body>
 <!-- Navbar -->
 <nav class="navbar">
    <button class="arrow-button" onclick="goBack()">&#x2190;</button> <!-- Unicode fat left arrow -->
</nav>

    <div class="container">
        <h1>Contact Us</h1>
        <div class="contact-info">
            <p>Email: <a href="mailto:Enter your email">Enter your email</a></p>
            <p>Phone: <a href="tel:+Enter your number"> Enter your number </a></p>
        </div>
        
    </div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>